{% extends 'base.html.twig' %}

{% block title %}Hello TodoController!{% endblock %}

{% block body %}

<div class="container bg-danger text-white">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Utilisateur/Desktop/symfony/projet/src/Controller/TodoController.php'|file_link(0) }}">src/Controller/TodoController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Utilisateur/Desktop/symfony/projet/templates/todo/index.html.twig'|file_link(0) }}">templates/todo/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
